VITE_EXTERNAL_BACKEND_MODE=local
VITE_LESSON_SCHEDULE_TABLE_BASE_URL=https://kake-git-hub.github.io/LessonScheduleTable
VITE_LESSON_SCHEDULE_TABLE_SHORT_URL_BASE=
VITE_LESSON_SCHEDULE_TABLE_TEST_CLASSROOM_ID=0002
VITE_LESSON_SCHEDULE_TABLE_TEST_CLASSROOM_SESSION_ID=2026-spring
VITE_LESSON_SCHEDULE_TABLE_QR_SCHOOL_PATTERN=テスト教室2
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_WORKSPACE_KEY=
VITE_FIREBASE_ENABLE_FUNCTIONS=false
VITE_FIREBASE_FUNCTIONS_REGION=asia-northeast1